.agent{
    background: #f9f9f8;
}
.agent-card{
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    text-align: center;
    transition: all .7s ease-in-out;
}
.agent-image{
    display: flex;
    align-items: flex-end;
    position: relative;
}
.agent-image:hover:before{
    opacity: 1;
}
/* .agent-image:hover .social_icon{
    opacity: 1;
} */
.social_icon:before{
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
    opacity: 0;
}
.agent-image:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #c8313970, transparent);
    z-index: 2;
    transition: .6s;
    opacity: 0;
}
.agent-card:hover{
    transform: translateY(-6px);
}
.agent-info{
    padding: 20px
}
.agent-info h5{
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    color: rgb(49, 49, 49);
}
.agent-info p{
    font-size: 15px;
    font-weight: 500;
}